<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	
	<link href="#" th:href="@{/css/style.css}" rel="stylesheet" />
	<style>
		body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

h1 {
	text-align: center
}

.item_navegacion {
	width: 15%;
	padding-left: 1%;
}

.mb-1 {
    margin-bottom: 10px;
}

.mb-3 {
	margin-bottom: 30px;
}

.margenArribaAbajo3Porc {
    margin: 3% 0%; /*arriba y abajo, a los costados*/
}

.margenAbajo2Porc{
    margin: 0% 0% 2% 0%; /*arriba, derecha, abajo, izquierda*/
}

.anchoMinimo50 {
    min-width: 50%;
}

.anchoMinimo40 {
    min-width: 40%;
}
	</style>
	
	<title>Página principal</title>
</head>
<body>
	<div class="container">
		<h1>
			¡Hola <span th:text="${username}">José</span>!
			<a href="#" th:href="@{/usuario/formularioUsuario}"><span class="glyphicon glyphicon-user"></span></a>
		</h1>
		<nav class="navbar navbar-default" role="navigation">
			<form th:action="@{/logout}" method="POST">
				<button class="btn btn-primary pull-right" type="submit"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Salir</button>
			</form>
		</nav>

		<section class="text-center">
			<button class="btn btn-primary btn-lg anchoMinimo50 margenArribaAbajo3Porc" type="button">Inscripción propia</button><br>
			<button class="btn btn-primary btn-lg anchoMinimo50 margenArribaAbajo3Porc" type="button">Autorización menor de edad</button><br>
			<button class="btn btn-primary btn-lg anchoMinimo50 margenArribaAbajo3Porc" type="button">Inscripción inclusiva</button><br>
			<button class="btn btn-info btn-lg anchoMinimo40 margenArribaAbajo3Porc" type="button">Ajustes de usuario</button><br>
			<button class="btn btn-warning btn-lg anchoMinimo40 margenArribaAbajo3Porc" type="button">Administración</button><br>
			<button class="btn btn-link margenAbajo2Porc" type="button">Inscripción propia realizada el 07/07/2022</button><br>
			<button class="btn btn-link margenAbajo2Porc" type="button">Inscripción de Diego Gómez Pérez realizada el 08/07/2022</button><br>
		</section>

		
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>
</html>