<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Page Not Found</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />


	<!-- Bootstrap CSS -->
	<link rel="stylesheet"
		  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <link href="#" th:href="@{/css/style.css}" rel="stylesheet" />
	<link href="#" th:href="@{/imgs/bum.ico}" rel="icon" />
</head>
<body>

	<div class="jumbotron">
		<div class="container text-center">
			<img src="../static/imgs/404.png" th:src="@{/imgs/404.png}" />
		</div>
		<br/>
		<br/>
		<div class="container">
			<div class="row">
				<div class="col-xs-4 mb-3">
				</div>
				<div class="col-xs-4 mb-3">
					<form action="#" th:action="@{/entrada/listaEntradas}" >
						<button class="btn btn-primary btn-lg" href="#" th:href="@{/entrada/listaEntradas}" type="submit">Volver a resumen</button>
					</form>
				</div>
				<div class="col-xs-4 mb-3">
				</div>
			</div>
		</div>
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
			integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
			crossorigin="anonymous"></script>
	<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
			integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
			crossorigin="anonymous"></script>
	<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
			integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
			crossorigin="anonymous"></script>

</body>
</html>

