<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	
	<link href="#" th:href="@{/css/style.css}" rel="stylesheet" />
	
	<title>Cambiar contraseña</title>

	<script type="text/javascript">
		function validar(){

			var campo = ['antiguaClave','nuevaClave','nuevaClaveRepeticion'];
			restablecer();
			var validado = true;
			for(var i=0; i < campo.length; i++){
			    var nombreRol = document.getElementById(campo[i]);
			    var nombreRolError = document.getElementById(campo[i]+'Error');
				if(nombreRol.value==''){
					nombreRolError.innerHTML = "Campo obligatorio";
					nombreRol.style.borderColor="red";
					validado = false;
				}
			}

    		var pass1 = document.getElementById('nuevaClave').value;
	    	var pass2 = document.getElementById('nuevaClaveRepeticion').value;
	    	if(pass1.length > 0 && pass1 != pass2){
	    		document.getElementById('nuevaClaveError').innerHTML = "Claves no iguales";
	    		document.getElementById('nuevaClave').style.borderColor="red";
	    		document.getElementById('nuevaClave').style.borderColor="red";
	    		validado = false;
	    	}

			if(validado){
				return true;
			} else {
				return false;
			}
		}
		function restablecer(){
			var errorSpan = document.getElementsByName('errorSpan');
			for (var i = 0; i < errorSpan.length; i++) {
				errorSpan[i].innerHTML='';
			}
			var campos = document.getElementsByClassName("form-control");
			for (var i = 0; i < campos.length; i++) {
				campos[i].style.borderColor="#ced4da";
			}
		}
	</script>
</head>
<body>
	<div class="container">
		<h1>
			¡Hola <span th:text="${usuario.name}"></span>!
		</h1>
		<nav class="navbar navbar-default" role="navigation">
			<a class="navbar-brand" href="#" th:href="@{/entrada/listaEntradas}">Resumen</a>
			<form th:action="@{/logout}" method="POST">
				<button class="btn btn-primary pull-right" type="submit"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Salir</button>
			</form>
			<div class="collapse navbar-collapse navbar-ex1-collapse">
			
				<ul th:each="categoria : ${categorias}" class="nav navbar-nav">
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown"> <span th:text="${categoria.name}"></span> <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li th:each="subcategoria : ${categoria.subcategoriaList}">
								<a href="#" th:href="@{/entrada/entradasSubcategoria?idSubcategoria=__${subcategoria.id}__}">
									<span th:text="${subcategoria.name}"></span>
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>

		<div th:if="${antiguaDistinta != null}" class="alert alert-danger" role="alert">Antigua contraseña no válida</div>
		<div th:if="${claveModificada != null}" class="alert alert-success" role="alert">Contraseña modificada correctamente</div>

		<form action="#" th:action="@{/usuario/actualizarClaveUsuario}" th:object="${claveUsuarioModel}" method="post" onsubmit="return validar()">
		
			<input type="hidden" name="username" th:value="${claveUsuarioModel.username}"/>

			<div class="row">
			    <div class="col-xs-6 mb-3">
					<label for="antiguaClave">Antigua contraseña:</label>
					<input type="password" th:field="*{antiguaClave}" id="antiguaClave" class="form-control" placeholder="Antigua contraseña"/>
					<span id="antiguaClaveError" name="errorSpan"></span>
				</div>
				
			    <div class="col-xs-6 mb-3">
			    </div>
			</div>

			<div class="row">
				<div class="col-xs-6 mb-3">
					<label for="nuevaClave">Nueva contraseña:</label>
					<input type="password" th:field="*{nuevaClave}" id="nuevaClave" class="form-control" placeholder="Nueva contraseña"/>
					<span id="nuevaClaveError" name="errorSpan"></span>
				</div>

				<div class="col-xs-6 mb-3">
				</div>
			</div>

			<div class="row">
				<div class="col-xs-6 mb-3">
					<label for="nuevaClaveRepeticion">Repetir nueva contraseña:</label>
					<input type="password" th:field="*{nuevaClaveRepeticion}" id="nuevaClaveRepeticion" class="form-control" placeholder="Repetir nueva contraseña"/>
					<span id="nuevaClaveRepeticionError" name="errorSpan"></span>
				</div>

				<div class="col-xs-6 mb-3">
				</div>
			</div>

			<div class="row">
				<div class="col-xs-2 mb-3">
					<button class="btn btn-primary" type="submit">Actualizar</button>
				</div>

				<div class="col-xs-2 mb-3">
					<a class="btn btn-default" href="#" th:href="@{/usuario/formularioUsuario}">Volver</a>
				</div>

				<div class="col-xs-8 mb-3">
				</div>
			</div>

			<div class="row">
				<div class="col-xs-6 mb-3">
					<span id="hayError" name="errorSpan" style="color:red"></span>
				</div>

				<div class="col-xs-6 mb-3">
				</div>
			</div>

		</form>

	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
			integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
			crossorigin="anonymous"></script>
	<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
			integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
			crossorigin="anonymous"></script>
	<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
			integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
			crossorigin="anonymous"></script>
</body>
</html>